@media (min-width: 1200px) {

	#title {
	  font-size: 40px;
	}

	#subtitle {
	  font-size: 17px;
	}

	.big-img {
	  width: 100%;
	  height: 640px;
	  background-size: 100%;
	}

	#about-pandas h3 {
	  font-size: 25px;
	  margin-bottom: 30px;
	}

	#about-pandas p {
	  font-size: 19px;
	}

	#about-pandas {
	  padding: 40px;
	}

	#pictures-title {
	  font-size: 40px;
	}

	#pictures img {
	  border: 10px solid white;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

	#title {
	  font-size: 38px;
	}

	#subtitle {
		font-size: 16px;
	}

	.big-img {
	  width: 100%;
	  height: 620px;
	}

	#about-pandas h3 {
	  font-size: 23px;
	  margin-bottom: 28px;
	}

	#about-pandas p {
	  font-size: 18px;
	}

	#about-pandas {
	  padding: 38px;
	}

	#pictures-title {
	  font-size: 38px;
	}

	#pictures img {
	  border: 9px solid white;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	#title {
	  font-size: 36px;
	}

	#subtitle {
		font-size: 15px;
	}

	.big-img {
	  width: 100%;
	  height: 600px;
	}

	#about-pandas h3 {
	  font-size: 21px;
	  margin-bottom: 26px;
	}

	#about-pandas p {
	  font-size: 17px;
	}

	#about-pandas {
	  padding: 36px;
	}

	#pictures-title {
	  font-size: 36px;
	}

	#pictures img {
	  border: 8px solid white;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	
	#title {
	  font-size: 34px;
	}

	#subtitle {
		font-size: 14px;
	}

	.big-img {
	  width: 100%;
	  height: 580px;
	}

	#about-pandas h3 {
	  font-size: 19px;
	  margin-bottom: 24px;
	}

	#about-pandas p {
	  font-size: 16px;
	}

	#about-pandas {
	  padding: 34px;
	}

	#pictures-title {
	  font-size: 34px;
	}

	#pictures img {
	  border: 7px solid white;
	}
}

@media (max-width: 775px) {

	#title {
	  font-size: 32px;
	}

	#subtitle {
		font-size: 13px;
	}

	.big-img {
	  width: 100%;
	  height: 560px;
	}

	#about-pandas h3 {
	  font-size: 17px;
	  margin-bottom: 22px;
	}

	#about-pandas p {
	  font-size: 20px;
	}

	#about-pandas {
    width: 58.333333%;
	  padding: 32px;
	}

  .col-3 {
    width: 16.666667%;
  }

	#pictures-title {
	  font-size: 25px;
	}

  .img {
    clear: left;
    margin-left: 37%;
  }

	#pictures img {
    min-width: 86px;
	  border: 6px solid white;
	}
}